In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib
from matplotlib import pyplot as plt

In [3]:
#Load data from csv and store it in a dataframe
data = pd.read_csv("echocardiogram.data", skiprows=1, delimiter='\t')
display(data)

       19,0,72,0,0.380,6,4.100,14,1.700,0.588,name,1,0
0              16,0,55,0,0.260,4,3.420,14,1,1,name,1,0
1    57,0,60,0,0.253,12.062,4.603,16,1.450,0.788,na...
2     19,1,57,0,0.160,22,5.750,18,2.250,0.571,name,1,0
3          26,0,68,0,0.260,5,4.310,12,1,0.857,name,1,0
4    13,0,62,0,0.230,31,5.430,22.5,1.875,0.857,name...
..                                                 ...
125      7.5,1,64,0,0.24,12.9,4.72,12,1,0.857,name,?,?
126    41,0,64,0,0.28,5.40,5.47,11,1.10,0.714,name,?,?
127  36,0,69,0,0.20,7.00,5.05,14.5,1.21,0.857,name,?,?
128    22,0,57,0,0.14,16.1,4.36,15,1.36,0.786,name,?,?
129    20,0,62,0,0.15,0,4.51,15.5,1.409,0.786,name,?,?

[130 rows x 1 columns]

In [19]:
features=['Survival', 'Still-Alive', 'Age-At-Heart-Attack', 'Pericardial-effusion','Fractional-Shortening', 'EPSS', 'LVDD', 'Wall-Motion-Score', 'Wall-Motion-Index', 'Mult', 'Name', 'Group', 'Alive-At']
data = pd.read_csv("echocardiogram.data", header=None, names=features, delimiter=',')  
data.head()

,Survival,Still-Alive,Age-At-Heart-Attack,Pericardial-effusion,Fractional-Shortening,EPSS,LVDD,Wall-Motion-Score,Wall-Motion-Index,Mult,Name,Group,Alive-At
0,11,0,71,0,0.260,9,4.600,14,1,1,name,1,0
1,19,0,72,0,0.380,6,4.100,14,1.700,0.588,name,1,0
2,16,0,55,0,0.260,4,3.420,14,1,1,name,1,0
3,57,0,60,0,0.253,12.062,4.603,16,1.450,0.788,name,1,0
4,19,1,57,0,0.160,22,5.750,18,2.250,0.571,name,1,0

In [20]:
#Remove useless data
columns_to_remove = ['Mult', 'Name', 'Group']
newdata = data.drop(columns=columns_to_remove, axis=0)
newdata.head()

,Survival,Still-Alive,Age-At-Heart-Attack,Pericardial-effusion,Fractional-Shortening,EPSS,LVDD,Wall-Motion-Score,Wall-Motion-Index,Alive-At
0,11,0,71,0,0.260,9,4.600,14,1,0
1,19,0,72,0,0.380,6,4.100,14,1.700,0
2,16,0,55,0,0.260,4,3.420,14,1,0
3,57,0,60,0,0.253,12.062,4.603,16,1.450,0
4,19,1,57,0,0.160,22,5.750,18,2.250,0

## a) Descriptive analysis of the database.

In [25]:
# Number of entries in the dataset
print("This data frame is made of", newdata.shape[0],"entries, and", newdata.shape[1], "features" )

This data frame is made of 132 entries, and 10 features

In [29]:
#Types of data
print(data.dtypes)

Survival                 object
Still-Alive              object
Age-At-Heart-Attack      object
Pericardial-effusion      int64
Fractional-Shortening    object
EPSS                     object
LVDD                     object
Wall-Motion-Score        object
Wall-Motion-Index        object
Mult                     object
Name                     object
Group                    object
Alive-At                 object
dtype: object

In [33]:
(data=='?').sum(axis=0)

Survival                  1
Still-Alive               1
Age-At-Heart-Attack       6
Pericardial-effusion      0
Fractional-Shortening     8
EPSS                     15
LVDD                     11
Wall-Motion-Score         4
Wall-Motion-Index         2
Mult                      3
Name                      1
Group                    22
Alive-At                 57
dtype: int64